body {
  background-color: white;
  font-family: ;
  color: ;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: black;
}

h1 {
  text-align: center;
  font-size: 400%;
  color: #27384c;
  margin-right: 200px;
  text-transform: uppercase;
}

h2 {
  background-color: #39a6d0;
  color: white;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
}

img {
  border-radius: 500px;
  background: linear-gradient(to bottom, #74ccff, #e4e9ea);
}
